.chesstable {
	font-size: 11px;
	white-space: nowrap;
	margin-bottom: 10px;
}

.chesstable tr.up {
	background-color: #abffa9;
}

.chesstable tr.down {
	background-color: #ffb7b7;
}

.chesstable tr.high {
	background-color: #ffff00;
}

.chesstable td {
	border-color: white #adadad #adadad white;
	border-right: 1px solid #adadad;
	border-style: solid;
	border-width: 1px;
	padding: 1px;
}

.chesstable td.place {
	font-weight: bold;
	text-align: right;
}

.chesstable td.result {
	text-align: center;
	width: 14px;
}

.chesstable td.points {
	text-align: right;
}

.chesstable td.rating {
	text-align: right;
}

.chesstable td.blindfield {
	background-color: #9e9e9e;
	color: #9e9e9e;
}

.chesstable_lightbox {
	padding: 10px;
}
